@import './foundations/reset';
@import './foundations/variables';

*,
*::before,
*::after {
    box-sizing: border-box;
}

main{
    padding: $m-big;
}

section{
    margin: $m-big 0;
}

div {
    font-family: $font;
}

h1{
    font-size: $font_size-big;
    font-weight: $font_weight-bold;
    margin: $m-big 0;
}

h2{
    font-size: $font_size-regular;
    font-weight: $font_weight-semibold;
    margin: $m-medium 0;
}

select{
    border: red solid 2px;
}