@import './foundations/reset';
@import './foundations/variables';

*,
*::before,
*::after {
    box-sizing: border-box;
}

main{
    padding: $m-big;
}

div {
    font-family: $font;
}

h1{
    font-size: $font_size-big;
    font-weight: $font_weight-bold;
    margin: $m-medium 0;
    text-align: center;
}

h2{
    font-size: $font_size-regular;
    font-weight: $font_weight-semibold;
    margin: $m-medium 0;
}

p{
    font-size: $font_size-small;
}

select{
    border: red solid 2px;
}

input[type="text"],
input[type="password"]{
    padding: 10px $m-small;
    border: lighten($color-black, 50%) solid 1.5px;
    border-radius: 5px;
    font-size: $font_size-small;

    &:hover{
        border-color: darken($color-main, 10%);
    }

    &:focus{
        border-color: transparent;
        outline: darken($color-main, 10%) solid 2px;
    }
}

input[type="submit"]{
    @include my_button;
}