@import './foundations/reset';
@import './foundations/variables';

*,
*::before,
*::after {
    box-sizing: border-box;
}

main{
    margin: $m-big;
}

section{
    margin: $m-big 0;
}

div {
    font-family: $font;
}

h1{
    font-size: $font_size-big;
    font-weight: $font_weight-bold;
    margin: $m-big 0;
}